/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 28 oct. 2022, 11:30:13
    Author     : annabelle.hantrais
*/
footer p {
    padding:10px;
    margin-bottom:0px;
}
footer{
    display:flex;
    justify-content:center;
    background-color: black;
    color: #6c757d;
    margin-bottom:0px !important;
    position:absolute;
    width:100%;
}
#jumbo_accueil{
    margin-top:20px;
    background-color:black !important;
    color: rgb( 204, 203, 203 );
}
#presentationText{
    margin-left:20px;

}
#en-savoir-plus{
    width:auto;
    margin-top:10px;
}
#presentation{
    display:flex;
    text-align:center;
    align-content: center;
    flex-direction:column;
}

#pres-img{
    float:left;
    margin-right:10px;
}

#bienvenue{
    margin:0 !important;
    display:flex;
    align-content:flex-end;
}

.bouton-info{
    width:150px;
    height:40px;
}