/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 28 oct. 2022, 11:30:13
    Author     : annabelle.hantrais
*/

body{
    background-color: black;
}
jumbo_accueil{
    background-color:black !important;
}
#presentationText{
    margin-left:20px;

}
#en-savoir-plus{
    width:auto;
    margin-top:10px;
}
#presentation{
    display:flex;
    text-align:center;
    align-content: center;
    flex-direction:column;
}

#pres-img{
    float:left;
    margin-right:10px;
}

#bienvenue{
    margin:0 !important;
    display:flex;
    align-content:flex-end;
}